// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";
@import "coreui_new_style";
@import "new_sidebar";

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
@font-face {
  font-family: "CustomFont";
  src: url("/font/irsans/IRANSansXFaNum-Regular.woff2");
}


body {
  font-family: CustomFont !important;
  font-weight: 400;
  background-color: #131720;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.card-header{
  justify-content: space-between;
  display: flex;
}
td .form-group{
  margin-bottom: 0;
}

td{
text-align: center
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
//input {
//  border: 1px solid transparent;
//  background-color: #f1f1f1;
//  padding: 10px;
//  font-size: 16px;
//}
//input[type=text] {
//  background-color: #f1f1f1;
//  width: 100%;
//}
//input[type=submit] {
//  background-color: DodgerBlue;
//  color: #fff;
//}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}